{% extends 'base.html.twig' %}

 {% block css %}
     <style>
         .container
         {
             max-width: 800px;
         }
        .category
        {
            text-align: center;
        }
         .title
         {
             color:  gray;
             font-size:  21px;
             margin-bottom: 10px;
         }
         .categoryName
         {
             font-size: 27px;
             color: coral;
         }
         .body
         {
             font-size: 14px;
             font-family: monospace;
             margin-bottom: 20px;
         }
         .body img
         {
             float: left;
             margin: 10px 10px 10px 0;
             width: 200px;
         }
         .body a
         {
             text-decoration: none;
             color: black;
             cursor: pointer;
         }
         .likePost
         {
             float: right;
             margin: 10px;
             font-size: 20px;
         }
         .likePost:hover
         {
             color: red !important;
             cursor: pointer;
         }
         .likePost.inactive
         {
             color: lightgrey;
         }
         .likePost.active
         {
             color: red;
         }
     </style>

 {% endblock %}

 {% block body %}
     <div class="container">
         <h2>News <input type="text" onchange="" id="postpicker" placeholder="Select Date" class="form-control js-datepicker" style="float: right; max-width: 100px;"> </h2>
         <div class="newsContainer">
             {% for d in data %}
                 <div class="news row">
                     <div class="title">{{ d.category.name }}</div>
                     <div class="title">{{ d.title }}</div>
                     <div class="body">
                         <img src="{{ asset('img/news/'  ~ d.image) }}">
                         <a href="{{ path('news.show',{'id':d.id}) }}" >
                             {{ d.body|slice(1, 255)  }}
                             ...
                         </a>

                     </div>
                 </div>
             {% endfor %}
         </div>
         <div class="navigation">
             {{ knp_pagination_render(data) }}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.js') }}" ></script>
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.az.min.js') }}" ></script>
    <script src="{{ asset('js/others/underscore.js') }}" ></script>
    <script src="{{ asset('js/others/component.js') }}" ></script>
    <script src="{{ asset('js/others/underscore_mixin.js') }}" ></script>
    <script src="{{ asset('js/others/app.js') }}" ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>



    <script type="template/underscore" id="news-template">
        <div class="news row">
            <div class="title"><%- category.name %></div>
            <div class="title"><%- title %></div>
            <div class="body">
                <img src="{{ asset('img/news/') }}<%- image %>">

                <a href="<%- Routing.generate('news.show', {'id': id}) %>">

                    <%- body.slice(1,255) %>
                    ...
                </a>

            </div>
        </div>
    </script>
    <script>
        //const routes = require('../../web/js/fos_js_routes.json');
        //import Routing from '../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js';

        $(document).ready(function()
        {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose:true,
                language: "az"
            });
        });
        fetchNews = (element) =>
        {
            var date = element.val() ? element.val() : '';
            $.post('fetchNews',
                    {
                        'date': date
                    },
                    function(result)
                    {
                        try
                        {
                            result = JSON.parse(result);
                            if(result['status'] == 'ok')
                            {
                                var dataSet = JSON.parse(result['dataSet']);
                                console.log(dataSet);
                                app.addFromTemplate({
                                    templateId: 'news-template',
                                    templateData: dataSet,
                                    targetElement: $(".newsContainer"),
                                    loop: true,
                                    clearTarget: true
                                });
                            }
                            else
                            {
                            }
                        }
                        catch(e)
                        {
                            console.log(e);
                        }
                    });

        }
    </script>
{% endblock %}

