{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/registr.css') }}" />
    <style>
        div.main-center
        {
            max-width: 500px !important;
        }
    </style>

{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">News Add</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.body) }}
                {{ form_row(form.category) }}
                {{ form_row(form.image) }}
                {{ form_row(form.published_at) }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add</button>
                </div>
                <div class="login-register">
                    <a href="/news">News</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </body>
    </html>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.js') }}" ></script>
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.az.min.js') }}" ></script>
    <script>

        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose:true,
                language: "az"
            });
        });
    </script>
{% endblock %}
