{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/registr.css') }}" />
    <style>
        div.main-center
        {
            max-width: 500px !important;
        }
    </style>

{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">News Edit</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.body) }}
                {{ form_row(form.image) }}
                {{ form_row(form.published_at) }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Add</button>
                </div>
                <div class="login-register">
                    <a href="/news">News</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </body>
    </html>


{% endblock %}
