 {% extends 'base.html.twig' %}

 {% block css %}
  <style>

  </style>

 {% endblock %}

 {% block body %}
  <div class="container">
   <h2>Categories</h2>
   <p>The .table-hover class enables a hover state on table rows: <a style="float:  right;" href="/category/add" >new category</a></p>
   <table class="table table-hover">
    <thead>
    <tr>
     <th>#</th>
     <th>Name</th>
     <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for category in categories %}
     {##} {% set i = i + 1  %}
     <tr>
      <td>{{ i }}</td>
      <td>{{ category.name }}</td>
      <td><a href="{{ path('category.edit',{'id':category.id}) }}" > Edit </a></td>
    </tr>
    {% endfor %}
    </tbody>
   </table>
  </div>

 {% endblock %}
