{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/registr.css') }}" />
{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Edit Category</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Edit</button>
                </div>
                <div class="login-register">
                    <a href="/category">Category</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </body>
    </html>


{% endblock %}
