{% extends 'base.html.twig' %}

 {% block css %}
     <style>
         .container
         {
             max-width: 800px;
         }
         .body img
         {
             float: left;
             margin: 10px 10px 10px 0;
         }
         .body
         {
             font-size: 20px;
             margin-top: 20px;
         }
         .container h2 a
         {
             float: right;
             margin-right: 7px;
         }
         img
         {
             width: 500px;
         }
         .likePost
         {
             float: right;
             margin: 10px;
             font-size: 30px;
         }
         .likePost:hover
         {
             color: red !important;
             cursor: pointer;
         }
         .likePost.inactive
         {
             color: lightgrey;
         }
         .likePost.active
         {
             color: red;
         }
         .likes_count
         {
             float: right;
             font-size: 22px;
             text-align: center;
             color: darkgray;
             position: relative;
             top: 10px;
         }
     </style>

 {% endblock %}

 {% block body %}
     <div class="container">
         <h2>{{ news.title }}

             {% if ableToEdit == true %}
                 <a style="color: darkred;" href="{{ path('news.delete',{'id':news.id}) }}" >
                     <i class="fa fa-remove"></i>
                 </a>
                 <a style="color: cadetblue;" href="{{ path('news.edit',{'id':news.id}) }}" >
                     <i class="fa fa-edit"></i>
                 </a>
             {% endif %}
             <a style="color: forestgreen;" href="{{ path('news')  }}" >
                 <i class="fa fa-sign-out"></i>
             </a>
         </h2>
         <img src="{{ asset('/img/news/' ~ news.image) }}">
         <p class="body">{{ news.body }}</p>
         {% if is_liked == 0 %}
             <i onclick="likePost();" class="likePost inactive fa fa-heart"></i><span class="likes_count">{{ likes_count }}</span>
         {% else %}
             <i onclick="likePost();" class="likePost active fa fa-heart"></i><span class="likes_count">{{ likes_count }}</span>
         {% endif %}
     </div>
 {% endblock %}

{% block javascripts %}
   <script >
       likePost = () =>
       {
           $.post('likePost',
                   {
                       'id': {{ news.id }},
                       'user_id': {{ user_id }}
                   },
                   function(result)
                   {
                       try
                       {
                           if(result == 'ok')
                           {
                               var likes_count = parseInt($('.likes_count').text());
                               if($('.likePost').hasClass('inactive'))
                               {
                                   $('.likePost').removeClass('inactive');
                                   $('.likePost').addClass('active');
                                   $('.likes_count').text(++likes_count);
                               }
                               else
                               {
                                   $('.likePost').addClass('inactive');
                                   $('.likePost').removeClass('active');
                                   $('.likes_count').text(--likes_count);
                               }
                           }
                           else
                           {

                           }
                       }
                       catch(e)
                       {
                           console.log(e);
                       }
                   });
       }
   </script>
{% endblock %}
