{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/registr.css') }}" />
    <style>
        div.main-center
        {
            max-width: 500px !important;
        }
    </style>

{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <body>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>year</th>
                <th>type</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    <td>{#{{ data.cars_type }}#}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
    </html>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.js') }}" ></script>
    <script src="{{ asset('js/bootstrap/bootstrap-datepicker.az.min.js') }}" ></script>

{% endblock %}
