{% extends 'base.html.twig' %}

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Sign in</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://cdn.worldvectorlogo.com/logos/symfony.svg"
                         alt="">
                    <form action="{{ path('login') }}" method="post">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />

                        <label for="password">Password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" />
                        <button class="btn btn-lg btn-primary btn-block submit" type="submit">
                            Sign in</button>
                    </form>
                </div>
                <a href="/register" class="text-center new-account">Create an account </a>
            </div>
        </div>
    </div>


{% endblock %}
