{% extends 'base.html.twig' %}

{% block body %}
    {#'action': path('target_route'),#}
    {{ form_start(form,{ 'method': 'POST','attr':{'novalidate':'novalidate'}})  }}
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    <span style="color: indianred">{{ form_errors(form.username) }}</span>
    {{ form_widget(form) }}
    <input type="submit" name="test" class="btn btn-info"/>
    {{ form_end(form) }}
{% endblock %}